.square {
    background-color: #FF0000;
    padding: 30px;
}

.botao {
    background-color: blue;
    color: #FFF;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 20px;
}


.legend {
    color:#00ff00;
}